@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);

@font-face {
    font-family: 'Cal Sans';
    display: swap;
    src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"), url("../fonts/CalSans-SemiBold.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: Poppins;
    font-size: 16px;
    color: #666666;
    font-weight: 600;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

[class*="__container"] {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0px 15px;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/*=========================*/

.title {
    font-family: 'Cal Sans';
    font-size: 44px;
    line-height: 1.2;
    color: #121212;
    text-align: center;
}

.title span {
    color: #FF6428;
}

@media(max-width: 737.98px) {
    .title {
        font-size: 38px;
    }
}

/*================== PAGE ====================*/

.page {
    flex: 1 1 auto;
}

.page__main {}

.page__store {}

.page__categories {}

.page__brands {}

.page__why {}

.page__reviews {}

.page__favorite {}

/*======================== ICON ========================*/

.icon__hover {
    display: none;
}

/*====================== HEADER =========================*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.header__container {
    display: flex;
    gap: 131px;
    align-items: center;
    min-height: 152px;
}

.header__logo {}

.header__menu {}

.menu {}

.menu__list {
    display: flex;
    column-gap: 30px;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__item {
    padding: 3px 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.menu__link {
    font-weight: 500;
    line-height: 1.5;
    color: rgba(18, 18, 18, 0.4);
}

.menu__link:hover {
    text-decoration: underline;
    color: #000;
}

@media(max-width: 990px) {
    .header__container {
        min-height: 100px;
    }
}

@media(max-width: 600px) {
    .header__container {
        gap: 50px;
        min-height: 65px;
    }

    .menu__list {
        column-gap: 20px;
    }
}

@media(max-width: 479.98px) {
    .header__container {
        gap: 15px;
    }

    .menu {
        padding: 0px;
    }

    .menu__item {
        padding: 0px 0px;
        background-color: none;
    }

    .header__logo {
        width: 28px;
        flex: 0 0 28px;
        overflow: hidden;
    }
}

/*================= GUITARE =======================*/

.main {
    padding-bottom: 82px;
}

@media (max-width:991.98px) {
    .main {
        padding-bottom: 50px;
    }
}

@media (max-width:767.98px) {
    .main {
        padding-bottom: 30px;
    }
}

.main__container {
    display: flex;
}

.main__content {
    flex: 0 1 50%;
    padding-top: 120px;
    align-self: flex-end;
    padding-bottom: 60px;
    padding-right: 20px;
}

.main__title {
    font-family: 'Cal Sans';
    font-size: 56px;
    line-height: 1.2;
    color: #121212;
}

.main__title span {
    color: #FF6428;
}

.main__title:not(:last-child) {
    margin-bottom: 16px;
}

.main__text {
    font-weight: 500;
    line-height: 1.5;
    max-width: 420px;
}

.main__text:not(:last-child) {
    margin-bottom: 33px;
}

.main__actions {}

.actions-main {
    display: flex;
    align-items: center;
}

.actions-main__button {
    text-align: center;
    padding: 18px 48px;
    background: #FF6428;
    border-radius: 40px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin-right: 40px;
    transition: all 0.3s ease 0s;
}

.actions-main__button:hover {
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.actions-main__button:not(:last-child) {
    margin-right: 40px;
}

.actions-main__icon {}

.actions-main__icon:not(:last-child) {
    margin-right: 28px;
}

.actions-main__icon:hover>.icon__grey {
    display: none
}

.actions-main__icon:hover>.icon__hover {
    display: flex;
}

.icon__hover {}

.main__decor {
    flex: 0 1 50%;
}

.main__image {
    margin-right: -135px;
    position: relative;
    max-width: 672px;
    /*в зависимости от ширины экрана меняется размер картинки*/
    padding-bottom: 97.6%;
}

.main__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    /*края у картинки*/
    border-radius: 0 0 160px 375px;
    overflow: hidden;
}

.main__image:after {
    content: "";
    background: url("../img/guitars/decor-on.svg") 0 0 no-repeat;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 36.3%;
    bottom: 0;
    transform: translate(0, 50%);
}

@media(max-width: 990px) {
    .main__image img {
        width: 100%;
    }

    .main__content {
        flex: 0 0 60%;
        padding-bottom: 0px;
    }

    .main__decor {
        flex: 0 0 40%
    }
}

@media(max-width: 830px) {
    .main__decor {
        display: none;
    }

    .main__content {
        flex: 1 1 100%;
        padding-right: 0;
    }
}

@media(max-width: 600px) {
    .main__title {
        font-size: 44px;
    }

    .main__content {
        padding-top: 80px;
    }
}

@media(max-width: 479.98px) {
    .actions-main {
        flex-wrap: wrap;
        justify-content: center;
    }

    .actions-main__button {
        flex: 1 1 100%;
    }

    .actions-main__button:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 30px;
    }
}

/*====================== STORE ==========================================*/

.store {
    padding-top: 80px;
    padding-bottom: 90px;
}

.store__container {}

.store__title {
    margin-bottom: 86px;
}

.store__body {}

.body-store {}

.body-store__header {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    font-size: 20px;
    line-height: 1.5;
    flex-wrap: wrap;
}

.body-store__block:not(:last-child) {
    margin-bottom: 96px;
}

.body-store__title {
    letter-spacing: 0.08em;
    color: #121212;
    text-transform: uppercase;
}

.body-store__all {
    font-weight: 500;
    text-transform: lowercase;
    color: #868686;
}

.body-store__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 54px;
}

.body-store__item {}

.item {
    display: grid;
}

.item__image {
    text-align: center;
}

.item__image img {
    max-width: 100%;
}

.item__image:not(:last-child) {
    margin-bottom: 40px;
}

.item__title {
    font-weight: 500;
    line-height: 1.5;
    color: #121212;
    justify-self: start;
}

.item__title:not(:last-child) {
    margin-bottom: 7px;
}

.item__title:hover {
    text-decoration: underline;
}

.item__price {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

@media (max-width:991.98px) {
    .store {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .store__title {
        margin-bottom: 50px;
    }

    .body-store__block:not(:last-child) {
        margin-bottom: 40px;
    }

    .body-store__header {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .body-store__items {
        grid-template-columns: repeat(2, 1fr);
        gap: 54px;
    }

    .item__image:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media (max-width:767.98px) {
    .store {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .store__title {
        margin-bottom: 20px;
    }

    .body-store__block:not(:last-child) {
        margin-bottom: 20px;
    }

    .body-store__header {
        margin-bottom: 10px;
    }
}

@media (max-width:560px) {
    .body-store__items {
        grid-template-columns: repeat(1, 1fr);
        gap: 54px;
    }

    .item__image:not(:last-child) {
        margin-bottom: 0px;
    }
}

/*====================================*/

.categories {
    padding-top: 90px;
    padding-bottom: 110px;
}

.categories__container {}

.categories__title {
    margin-bottom: 80px;
}

.categories__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 70px;
    row-gap: 35px;
}

.categories__item {}

.item-categories {
    position: relative;
}

.item-categories:hover .item-categories__image img {
    transform: scale(1.1);
}

.item-categories__title {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    color: #FFFFFF;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 30px 20px;
    z-index: 10;
}

.item-categories__image {
    position: relative;
    overflow: hidden;
    padding-bottom: 127%;
    border-radius: 25px;
}

.item-categories__image:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}

.item-categories__image img {
    transition: all 0.4s ease 0s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

@media (max-width:1230px) {
    .categories__items {
        column-gap: 30px;
    }
}

@media (max-width:991.98px) {
    .categories {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .categories__title {
        margin-bottom: 50px;
    }

    .categories__items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:767.98px) {
    .categories {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .categories__title {
        margin-bottom: 20px;
    }
}

@media (max-width:479.98px) {
    .categories__items {
        row-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
}

/*================ BRANDS ===========================*/

.brands {
    margin-top: 110px;
    margin-bottom: 180px;
}

.brands__container {}

.brands__title {
    margin-bottom: 75px;
}

.brands__items {
    max-width: 1020px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    row-gap: 80px;
}

.brands__item {}

.brands__item img {
    width: 100%;
}

@media (max-width:991.98px) {
    .brands {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .brands__title {
        margin-bottom: 40px;
    }

    .brands__items {
        row-gap: 50px;
        justify-content: space-around;
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width:767.98px) {
    .brands {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .brands__title {
        margin-bottom: 20px;
    }
}

@media (max-width:600px) {
    .brands__items {
        justify-content: space-around;
        row-gap: 20x;
        grid-template-columns: repeat(2, auto);
    }
}

/*======================= WHY ===============================*/

.why {
    background-color: #121212;
    padding-top: 90px;
    padding-bottom: 90px;
}

.why__container {}

.why__title {
    color: #fff;
    margin-bottom: 35px;
}

.why__items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    gap: 30px;
}

.why__item {}

.item-why {
    display: grid;
    text-align: center;
    justify-items: center;
    padding: 40px;
    max-width: 300px;
}

.item-why__icon {
    display: flex;
    background-color: #262626;
    border-radius: 20px;
    width: 72px;
    height: 72px;
    justify-content: center;
    align-items: center;
}

.item-why__icon:not(:last-child) {
    margin-bottom: 40px;
}

.item-why__title {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.item-why__title:not(:last-child) {
    margin-bottom: 12px;
}

.item-why__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-transform: capitalize;
}

@media (max-width:991.98px) {
    .why {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .why__items {

        grid-template-columns: repeat(2, auto);
        justify-content: space-around;
    }
}

@media (max-width:767.98px) {
    .why {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .why__items {
        grid-template-columns: repeat(1, auto);
        /*gap: 30px;*/
    }

    .item-why {
        padding: 20px;
    }
}

/*===================== REVIEWS ==================*/

.reviews {
    padding-top: 240px;
    padding-bottom: 240px;
}

.reviews__container {}

.reviews__title {
    margin-bottom: 100px;
}

@media (max-width:991.98px) {
    .reviews {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .reviews__title {
        margin-bottom: 60px;
    }
}

@media (max-width:767.98px) {
    .reviews {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .reviews__title {
        margin-bottom: 30px;
    }
}

/*========================== SWIPER =================================*/
.reviews__swiper {}

.swiper-reviews {}

.swiper {}

.swiper-reviews__wrapper {}

.swiper-wrapper {}

.swiper-reviews__slide {}

.slide-swiper-reviews {
    display: flex;
}

.swiper-slide {}

.slide-swiper-reviews__picture {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-swiper-reviews__image {
    width: 320px;
    height: 320px;
    position: relative;
}

.slide-swiper-reviews__image::before {
    content: "";
    position: absolute;
    width: 285px;
    height: 258px;
    top: 40px;
    left: -51px;
    background-color: #FF6428;
    border-radius: 40px 0px 400px 400px;
    transform: rotate(-7.72deg);
}

.slide-swiper-reviews__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: center;
    border-radius: 50%;
    overflow: hidden;
}

.slide-swiper-reviews__body {
    flex: 0 1 50%;
}

.slide-swiper-reviews__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
}

.slide-swiper-reviews__text p:not(:last-child) {
    margin-bottom: 15px;
}

.slide-swiper-reviews__text:not(:last-child) {
    margin-bottom: 56px;
}

.slide-swiper-reviews__author {
    line-height: 1.6;
}

.slide-swiper-reviews__name {
    font-size: 24px;
    color: #000000;
}

.slide-swiper-reviews__name:not(:last-child) {
    margin-bottom: 8px;
}

.slide-swiper-reviews__position {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.08em;
    color: #868686;
    text-transform: uppercase;
}

.swiper-reviews__pagination {}

.swiper-pagination {
    display: flex;
    transform: translate(0px, -100%);
    justify-content: flex-end;
}

.swiper-reviews__pagination .swiper-pagination-bullet {
    opacity: 1;
    background: #C4C4C4;
    border-radius: 20px;
    flex: 0 0 10px;
    height: 16px;
    transition: all 0.3 ease 0s;
}

.swiper-reviews__pagination .swiper-pagination-bullet-active {
    background: #FF6428;
    flex: 0 0 24px;
}

@media (max-width:991.98px) {
    .slide-swiper-reviews {
        flex-direction: column;
    }

    .slide-swiper-reviews__picture {
        margin-bottom: 25px;
    }

    .slide-swiper-reviews__text:not(:last-child) {
        margin-bottom: 25px;
    }

    .swiper-reviews__pagination.swiper-pagination {
        position: relative;
        bottom: 0;
        transform: translate(0px, 0px);
        padding-top: 30px;
        justify-content: center;
    }
}

@media (max-width:479.98px) {
    .slide-swiper-reviews__image::before {
        content: "";
        width: 290px;
        height: 290px;
        top: 0px;
        left: 0px;
        border-radius: 50%;
    }

    .slide-swiper-reviews__image {
        width: 270px;
        height: 270px;
    }

    .slide-swiper-reviews__picture {
        overflow: hidden;
        padding: 20px;
    }

    .slide-swiper-reviews__text {
        font-size: 18px;
    }
}

/*=============================== FAVORITE ======================================*/
.favorite {
    padding-bottom: 120px;
}

.favorite__container {
    display: flex;
    align-items: center;
}

.favorite__body {
    padding-right: 20px;
    flex: 0 1 50%;
}

.favorite__title {
    text-align: left;
    font-size: 48px;
    line-height: 140%;
}

.favorite__title:not(:last-child) {
    margin-bottom: 60px;
}

.title {}

.favorite__apps {}

.apps-favorite {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.apps-favorite__item img {
    max-width: 172px;
}

.favorite__images {
    flex: 0 1 50%;

}


@media (max-width:991.98px) {
    .favorite {
        padding-bottom: 50px;
    }

    .favorite__container {
        flex-direction: column;
    }

    .favorite__title {
        text-align: center;
        font-size: 38px;
    }

    .favorite__title:not(:last-child) {
        margin-bottom: 40px;
    }
}

@media (max-width:767.98px) {
    .favorite {
        padding-bottom: 30px;
    }

    .favorite__images img {
        max-width: 100%;
    }
}

/*========================= footer =============================*/

.footer {
    background-color: #EEEEEE;
    padding-top: 80px;
    padding-bottom: 40px;
}

.footer__container {}

.footer__body {}

.body-footer {
    display: flex;
    gap: 30px
}

.body-footer__column {
    flex: 1 1 auto;
}

.body-footer__logo {
    display: inline-block;
}

.body-footer__logo:not(:last-child) {
    margin-bottom: 25px;
}

.body-footer__contacts {}

.contacts-footer {}

.contacts-footer__item {}

.contacts-footer__link {
    display: inline-block;
    font-weight: 400;
    line-height: 160%;
    padding-left: 44px;
    color: inherit;
}

.contacts-footer__link-mail {
    background: url("../img/footer/sms.svg") left no-repeat;
}

.contacts-footer__link-location {
    background: url("../img/footer/location.svg") left no-repeat;
}

.contacts-footer__item:not(:last-child) {
    margin-bottom: 20px;
}

.body-footer__menu {}

.menu-footer {
    justify-content: center;
    gap: 50px;
}

.menu-footer__title,
.social-footer__title {
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #121212;
    margin-bottom: 20px;
}

.menu-footer__list {}

.menu-footer__item {}

.menu-footer__item:not(:last-child) {
    margin-bottom: 16px;
}

.menu-footer__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(18, 18, 18, 0.6);
}

.menu-footer__link:hover {
    text-decoration: underline;
    color: #000;
}

.body-footer__social {}

.social-footer {}

.social-footer__title {}

.social-footer__list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.social-footer__item {}

.social-footer__link {}

.footer__copy {
    text-align: center;
    padding-top: 80px;
}

@media (max-width:767.98px) {
    .footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .body-footer {
        flex-wrap: wrap;
    }

    .body-footer__column:first-child {
        flex: 1 1 100%;
    }

    .footer__copy {
        padding-top: 30px;
    }
}